@font-face {
  font-family: "exo_2.0thin";
  font-weight: 400;
  font-style: normal;
  src: local("exo2.0-thin"),
    url("../fonts/exo2.0-thin.woff2") format("woff2"),
    url("../fonts/exo2.0-thin.woff") format("woff");
  font-display: swap;
}
