.content {
  transform: translateY(50%);
  padding: 0 calc(50% - 560px);
}

body {
  position: relative;
  background: url("../img/bg.jpg") #cccccc;
}

.content__title {
  font-family: $font-exo;
  font-weight: 100;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  font-family: $font-trebuchet;
  list-style: none;
}

.catalog__item {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  height: 480px;
  padding: 0 5px;
  background: url("../img/cato.jpg") no-repeat #ffffff;
  background-position: bottom -100px center;
  border: 4px solid $color-default;
  border-radius: 10px;


  &::before {
    @include pseudo;
    left: -22px;
    top: -8px;
    width: 60px;
    height: 30px;
    transform: rotate(-45deg);
    z-index: 1;
    background-image: url("../img/bg.jpg");
    border: 0;
    border-bottom: 4px solid $color-default;
  }

  &:hover {
    border: 4px solid $color-default-hover;
    cursor: pointer;

    &::before {
      border-bottom: 4px solid $color-default-hover;
    }
  }

  &--select {
    border: 4px solid $color-select;

    &::before {
      border-bottom: 4px solid $color-select;
    }

    &:hover {
      border: 4px solid $color-select-hover;

      &::before {
        border-bottom: 4px solid $color-select-hover;
      }
    }
  }

  &--disabled {
    border: 4px solid $color-disable;

    &::before {
      border-bottom: 4px solid $color-disable;
    }

    &:hover {
      border: 4px solid $color-disable;

      &::before {
        border-bottom: 4px solid $color-disable;
      }
    }
  }
}

.catalog__item {

  .catalog__weight {
    background: $color-default;
  }
  .catalog__descript {
    color: #ffffff;
  }
}

.catalog__item--select {

  .catalog__weight {
    background: $color-select;
  }
  .catalog__descript {
    color: #ffffff;
  }
}

.catalog__item--disabled {

  .catalog__weight {
    background: $color-disable;
  }
  .catalog__descript {
    color: #ffff66;
  }
}

.catalog__item-text--red {
  color: #e62e7a;
}

.catalog__item--disabled  .overlay {
  display: block;
}


.catalog__features {
  margin: 12px 0 0 42px;
  padding: 0;
  list-style: none;
}

.catalog__weight {
  @include pseudo;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  background: $color-default-hover;
  text-align: center;
  color: #ffffff;
  padding-top: 7px;
}

.catalog__weight-quantity {
  font-size: 42px;
  margin-bottom: -8px;
}

.catalog__weight-unit {
  font-size: 21px;
}

.catalog__item-buy {
  color: $color-default;
  border-bottom: 1px dashed $color-default;
}

.catalog__item-text {
  font-size: 16px;
  margin: 25px 0 0 42px;
}

.catalog__item-title {
  font-size: 48px;
  font-weight: 700;
  margin: 6px 0 0 42px;
}

.catalog__descript {
  @include pseudo;
  bottom: -30px;
  width: 100%;
  margin: 0;
  font-family: $font-trebuchet;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.overlay {
  display: none;
  background-color: #ebebeb;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.catalog__item-type {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 0 42px;
}


@media #{$tablet} {

  .catalog{
    justify-content: space-around;
  }

  .catalog__item {
    margin-bottom: 40px;
    margin: 0 30px 40px;

    &:last-child {
      align-self: center;
    }
  }
}

@media #{$mobile} {

  .catalog {
    flex-direction: column;
    align-content: center;
  }

  .catalog__item {
    margin-bottom: 40px;
  }
}
