$tablet: '(min-width: 768px) and (max-width: 1023px)';
$mobile: '(min-width: 320px) and (max-width: 767px)';
$font-exo: 'Exo', 'Arial', sans-serif;
$font-trebuchet: 'Trebuchet MS', 'Arial', sans-serif;
$color-select: #e62e7a;
$color-default: #1698d9;
